body{
    direction: ltr;
}

.up .right span:not(:last-child) {
    margin-right: 40px;
    margin-left: unset;
}

.up .right span i {
    margin-right: 5px;
    margin-left: unset;
}

@media (min-width: 992px){
    .head {
        background-position: 40% 0%;
    }
}

@media (min-width: 1200px){
    .head {
        background-position: 50% 0%;
    }
}

.head .search button{
    right: 30px;
    left: unset;
}

@media (min-width: 992px){
    .head .search button {
        right: 0px;
    }
}

@media (min-width: 1200px){
    .head .search button {
        right: 30px;
    }
}

@media (min-width: 992px){
    .navBar > ul > li a{
        font-size: 14px;
    }
}

@media (min-width: 1200px){
    .navBar > ul > li a{
        font-size: 16px;
    }
}

.head .menu > div:not(:last-child) svg {
    margin-left: 25px;
    margin-right: unset;
}

@media (max-width: 991px){
    .head .menu > div.cart svg{
        margin-right: 22px;
    }
}

.head .menu > div.cart span{
    right: 25%;
}

@media (max-width: 991px){
    .head .menu > div.cart span {
        top: 47%;
        right: 48%;
    }
}

.head .menu > div.user .drop {
    left: -192%;
    right: unset;
}

.head .menu > div.user svg{
    margin: 0;
}

@media (max-width: 991px){
    .head .search button {
        right: 10px;
        left: unset
    }
}

.navBar > ul > li i {
    margin-left: 5px;
    margin-right: unset;
}

.navBar > ul > li .drop{
    width: 170px;
    right: 50%;
}

.navBar > ul > li:not(:last-child) {
    margin-right: 25px;
    margin-left: unset;
}

.products .product .over button:not(:last-child) {
    margin-right: 5px;
    margin-left: unset;
}

@media (min-width: 1200px){
    footer .foot-links {
        text-align: left;
    }
}

.disc.custom .disc-head > p{
    margin-left: 5px;
    margin-right: 0;
}

.disc.custom .disc-head > a{
    margin-right: 5px;
    margin-left: 0;
}

footer .download .pics a:first-child {
    margin-right: 5px;
    margin-left: unset;
}

@media (min-width: 1200px){
    footer .download {
        margin-top: 0px;
        text-align: left;
    }
}

.end .content a img {
    margin-left: 5px;
    margin-right: unset;
}

.sideNav > ul > li i{
    right: 13px;
    left: unset;
    transform: rotate(-90deg);
}

.sideNav{
    left: -100%;
    right: unset;
}

.sideNav.open{
    left: 0;
}

.menuTriger{
    left: 30px;
    right: unset;
}

.end .content .social a:not(:last-child) {
    margin-right: 25px;
    margin-left: unset;
}

footer .frm button{
    right: 10px;
    left: unset;
}

@media (min-width: 1200px){
    footer .newsletter {
        margin-top: 0;
        text-align: left;
    }
}